body{
    background-color: black;
}
.parent{
    height: 100px;
    width: 100px;
    border: 2px solid red;
    border-radius: 50%;
    position: relative;
    
}
.child{
    height: 20px;
    width: 20px;
    border: 2px solid blue;
    border-radius: 50%;
    background: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    font-size: 1.2rem;
    position: absolute;
    bottom: 8px;
    right: -2.5px;

}