* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1;
  color: #444;
}
.container {
  margin: 10rem;
  width: 30rem;
  height: 25rem;
  line-height: 1.4;
  border-radius: 10px;
  box-shadow: 30px 30px 49px -17px rgba(18, 17, 17, 0.2);
}
.heading {
  display: flex;
  justify-content: center;
  font-style: italic;
  margin-top: 0.5rem;
}
.frequent {
  color: red;
}
h1 {
  margin: 0px 4px;
}

span {
  width: 30px;
  height: 30px;
  background-color: red;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}
.wraper {
  display: flex;
  max-width: 30rem;
  margin: 1.6rem 1rem 1rem;
}
.text {
  margin-left: 0.5rem;
}
h3 {
  color: #333;
  margin-bottom: 0.5rem;
}
