* {
  margin: 0;
  padding: 0;
}
.parent {
  width: 200px;
  height: 200px;
  position: relative;
}
img{
    cursor: pointer;
}
.child {
  background-color: blue;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: aliceblue;
  position: absolute;
  top: 0;
  right: 100px;
}
