* {
  margin: 0;
  padding: 0;
}
body {
  padding: 1rem;
  line-height: 1.5;
}
.container {
  display: flex;
  align-items: flex-start;
  margin: 1.2rem;
  max-width: 500px;
}
p {
  margin-top: 2px;
}
span {
  color: white;
  background-color: rgb(245, 64, 64);
  border-radius: 15px;
  margin-left: 0.8rem;
  padding: 0.4rem 1.1rem 0.3rem;
  text-align: center;
  flex-shrink: 0;
}
