.container {
  display: flex;
  justify-content: space-around;
  margin: 60px 0px;
  flex-wrap: wrap;
}
.team-profile {
  align-items: center;
  padding: 15px 10px;
}

.team-profile img {
  width: 120px;
  height: 150px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}
.team-name{
  color: black;
  margin: 15px 0px 5px 0px;
  padding: 0;
}
.team-role{
  color: #888;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
