*{
    font-family: sans-serif;
}
.container{
    height: 200px;
    width: 300px;
    background-color: yellow;
    position: relative;


}
.cancel{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
}
